<div class="background-gradient h-screen overflow-hidden text-white">
  <div
    class="flex flex-col justify-center items-center min-h-screen transition-all duration-300"
    [ngStyle]="{ scale: logoScale, opacity: logoOpacity }"
  >
    <callisto-logo
      [scale]="2.4"
      [colors]="{
        callisto: 'white',
        planetTop: 'white',
        ringCenter: 'white',
        ringLeft: 'white',
        ringRight: 'white',
        webAndGraphic: 'white'
      }"
    ></callisto-logo>
  </div>

  <div
    #content
    class="absolute top-0 bg-black/40 p-20 h-screen overflow-y-scroll transition-all duration-1000"
    [ngClass]="{
      'pointer-events-none ': logoOpacity > 0.1
    }"
    [ngStyle]="{
      opacity: 1 - logoOpacity
    }"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim
    libero id leo rhoncus interdum. Suspendisse nisi odio, bibendum eget
    condimentum vitae, lacinia ut tellus. Sed at porta tellus. Donec euismod
    ipsum sit amet justo suscipit, sed condimentum orci tincidunt. Sed rhoncus
    dui dui, sed tempor diam venenatis ac. Suspendisse lacinia tincidunt turpis
    mattis semper. Cras id diam et velit luctus auctor. Vestibulum sollicitudin
    sapien sed nibh consectetur porttitor. Nam nisi libero, finibus aliquam
    sodales sodales, vulputate quis ante. Sed at condimentum ex. Vestibulum et
    aliquet quam. Etiam convallis est eu justo ornare consequat. Donec porttitor
    lectus enim, ut lacinia urna pellentesque ut. Vivamus placerat nisi
    facilisis diam placerat, ullamcorper fringilla dolor viverra. Nulla
    facilisi. Nullam imperdiet sodales velit ut finibus. Nunc id eleifend lacus.
    Mauris accumsan consectetur erat, ut iaculis mauris. Etiam dui ligula, porta
    vitae eros a, convallis consequat leo. Quisque eu velit erat. Pellentesque
    non nulla felis. Quisque lacinia auctor urna, eu vestibulum enim mollis non.
    Donec rhoncus aliquet turpis, non imperdiet diam tincidunt eu. Nullam
    gravida commodo lorem, nec vulputate nulla sollicitudin non. Morbi vitae
    gravida nunc, nec scelerisque turpis. Aliquam blandit, libero in tincidunt
    lobortis, est neque condimentum turpis, ac porttitor lorem enim ut justo.
    Mauris rhoncus nisl massa, sit amet tristique tortor euismod at. Donec vitae
    felis sed felis ultrices semper quis eget erat. Pellentesque viverra erat
    lectus, ac tempus nisl auctor sed. Curabitur sit amet efficitur tellus. Ut
    convallis efficitur est vel semper. Duis eros ante, varius in purus eu,
    consectetur interdum odio. Sed cursus, mauris ut bibendum vulputate, enim
    libero varius urna, cursus efficitur felis sem ac nunc. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc
    porttitor massa id dignissim aliquam. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Nam ullamcorper quis
    metus vitae euismod. Orci varius natoque penatibus et magnis dis parturient
    montes, nascetur ridiculus mus. Nullam dignissim quam quis porttitor
    pretium. Donec eget eros vel nulla interdum iaculis sit amet in lacus.
    Nullam malesuada in tellus vitae placerat. Phasellus sit amet luctus lacus.
    Pellentesque faucibus ultricies sapien, vitae dapibus eros sollicitudin
    imperdiet. Proin viverra tellus id nisl lobortis, a dignissim orci tempor.
    Ut nec enim augue. Nam faucibus tellus ipsum, porta lacinia libero ultricies
    ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Etiam at massa cursus, fermentum enim eu, gravida sapien.
    Nulla laoreet tortor et ullamcorper feugiat. Phasellus maximus nibh in
    tellus pharetra, sed ultricies metus molestie. Nullam a ante tincidunt,
    rutrum ligula vel, dictum diam. Etiam id ante et augue pellentesque porta.
    Quisque dui purus, cursus fermentum accumsan in, hendrerit in ligula.
    Vestibulum vel lacus est. Nulla felis augue, fringilla id commodo eget,
    lacinia vitae tortor. Duis ac magna leo. Donec eu lacus non ante lacinia
    feugiat. Quisque sagittis urna at iaculis aliquet. Aliquam erat volutpat.
    Donec et odio auctor, feugiat neque sed, aliquam velit. Duis non aliquet
    massa. Nulla aliquam pretium lobortis. Morbi lobortis vulputate turpis.
    Integer elit metus, facilisis id purus id, convallis tristique dui. Nulla
    pulvinar dolor id velit condimentum, non ultrices elit hendrerit. Maecenas
    posuere erat neque, vel interdum nisi laoreet ac. Suspendisse pulvinar,
    purus sed blandit pharetra, arcu mauris pellentesque tellus, id volutpat
    neque nunc nec metus. Sed eu turpis quis quam consequat porttitor et et
    nisi. Donec vehicula libero non egestas blandit. Curabitur scelerisque
    dictum pulvinar. Sed massa dui, consectetur eu massa sed, sagittis elementum
    nulla. Nam vel hendrerit tortor. Morbi sed sapien sit amet felis hendrerit
    pretium. Proin varius risus ut nulla bibendum cursus in non odio. Donec
    scelerisque odio vitae arcu pellentesque, a consectetur ex suscipit.
    Suspendisse potenti. Quisque laoreet sed mi sit amet rutrum. Donec urna dui,
    tempus quis ante ac, condimentum malesuada turpis. Phasellus ac dolor
    scelerisque erat suscipit convallis. Morbi quis iaculis nisi, a mollis erat.
    Vivamus id feugiat quam, vel vehicula sapien. Aliquam erat volutpat. Integer
    venenatis fringilla sapien. Morbi id vulputate ligula. Etiam quis massa
    hendrerit, condimentum sem vel, luctus mi. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Nam commodo auctor
    tellus, eget rhoncus quam. Ut feugiat neque metus, non varius ex placerat
    id. Etiam sollicitudin, urna in consequat scelerisque, nibh erat
    pellentesque velit, vel interdum lorem nibh sodales ipsum. Vivamus et justo
    nisl. Mauris purus nisl, congue at rutrum non, pulvinar vel tellus. Maecenas
    ligula urna, posuere et ex nec, aliquet eleifend elit. Etiam ornare nunc
    eget faucibus dapibus. Duis eleifend magna non arcu faucibus malesuada.
    Maecenas ac tortor non lorem cursus ultrices eget sed justo. Donec tempus
    felis ipsum. Fusce vel velit a odio aliquet consequat eu ut lectus. Donec
    massa quam, laoreet ut est ac, tincidunt fermentum justo. Praesent pretium
    nulla arcu, in sollicitudin arcu pellentesque eu. In ex turpis, mollis
    bibendum dignissim sed, auctor sed erat. Duis ut rutrum augue, vitae
    efficitur lacus. Nam congue laoreet diam eget egestas. In hac habitasse
    platea dictumst. Praesent at orci libero. Nullam in felis ac justo accumsan
    condimentum. Fusce vestibulum nisl lorem, nec tempor libero laoreet vitae.
    Proin tempor maximus pharetra. Morbi convallis ullamcorper ex, sit amet
    consequat justo rhoncus sed. Nullam id dignissim dolor. Proin vel porttitor
    augue. Suspendisse consequat quis orci vitae bibendum. Nunc rhoncus
    fringilla tellus, facilisis facilisis purus dapibus eget. Nunc a purus sed
    nisl eleifend dictum. Suspendisse pellentesque commodo tortor, eget
    convallis erat. Vivamus leo est, cursus a nibh quis, condimentum placerat
    erat. Aenean rutrum tempus nibh, eget mollis nisi imperdiet a. Pellentesque
    luctus vulputate enim vel tempor. Quisque sodales eros vel pellentesque
    eleifend. Etiam sit amet arcu ut lectus gravida lacinia a in ligula. Quisque
    sit amet volutpat ipsum. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Nulla placerat mauris eget
    tincidunt tincidunt. Nam facilisis pretium velit id convallis. Morbi sit
    amet mauris sit amet felis tristique imperdiet. Nam est augue, volutpat eget
    magna eget, ultrices tristique nunc. Mauris dictum euismod sem, eget
    convallis velit egestas vel. Integer a porttitor lectus. Duis vitae erat
    quis nunc feugiat rutrum at eu velit. Praesent lectus lacus, posuere id
    malesuada eu, cursus ac arcu. Maecenas sollicitudin malesuada accumsan.
    Etiam auctor condimentum ante, eget semper est viverra vitae. Etiam
    fringilla porta pretium. Donec convallis blandit ex et lobortis. Curabitur
    molestie luctus ipsum, a porta augue ornare ac. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Suspendisse ac ipsum orci. In laoreet rutrum
    molestie. In suscipit posuere fringilla. Suspendisse diam libero, consequat
    quis pretium nec, auctor in augue. Nulla ut sem lectus. Nam quis tortor
    placerat mauris egestas tempor. Vestibulum ut ornare sapien. Nam ut egestas
    neque. Proin dapibus tortor sed accumsan fermentum. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Vestibulum lacinia, urna sed molestie auctor, enim neque pharetra ante, in
    efficitur diam neque id sapien. Pellentesque pharetra ex ac tellus sodales
    dapibus. Proin lorem justo, egestas at iaculis ac, elementum vitae purus.
    Maecenas ligula quam, interdum in semper vitae, auctor laoreet eros. Aenean
    vitae iaculis enim. Donec vitae quam et justo aliquam condimentum. Phasellus
    elementum tincidunt ipsum, sit amet luctus neque. Maecenas suscipit leo
    orci. Sed aliquam magna libero, at dapibus risus sollicitudin eu. Orci
    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Integer lobortis quam ex, id posuere quam ultrices id. In ac venenatis
    orci. Cras sodales magna erat, molestie mollis felis tincidunt sed. Donec ut
    mattis magna, sit amet condimentum ligula. Vivamus at scelerisque sapien,
    sed ornare eros. Vestibulum ullamcorper mollis massa ac vehicula. Aenean
    scelerisque elementum odio, ac pretium dolor finibus at. Sed vitae commodo
    nulla. Proin et lorem purus. Maecenas porta egestas pellentesque. Aliquam
    erat volutpat. Aliquam condimentum velit vulputate auctor tempor. Nullam
    auctor fermentum elit at dictum. Mauris bibendum gravida est. Quisque orci
    lacus, bibendum a euismod vel, ultricies eu erat. Vivamus eu suscipit est.
    In sem tortor, iaculis a tempor non, rutrum id mauris. Etiam sodales velit
    mollis metus viverra varius. Integer elementum metus tortor, eget dapibus mi
    rutrum id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
    ullamcorper sapien est, mollis convallis elit iaculis nec. Vivamus nec
    ligula lacinia, pretium justo id, blandit enim. Etiam efficitur aliquam
    purus, quis vehicula purus finibus in. Nullam sollicitudin lacus sit amet
    massa efficitur, sit amet varius est porta. Maecenas elementum nulla quis
    lorem pellentesque scelerisque. Duis vel fermentum nibh. Ut vitae lobortis
    dolor. Duis in sapien vel lectus mollis imperdiet. Nullam consectetur, dolor
    feugiat hendrerit dignissim, dolor ligula egestas velit, non laoreet quam
    arcu quis diam. Aenean cursus dignissim sem, pulvinar lobortis tellus
    maximus non. Vestibulum sed porttitor augue, sed commodo libero. In dictum
    ornare consectetur. Sed at lectus quam. Etiam sed pellentesque arcu.
    Suspendisse potenti. Pellentesque non enim magna. Phasellus a blandit massa,
    quis accumsan est. Aenean et tristique velit, congue laoreet nulla.
    Suspendisse a pretium urna, iaculis elementum ligula. Cras elementum nec
    metus sed accumsan. Phasellus non dolor viverra nisi sollicitudin tempus.
    Donec eleifend nec nisl ut faucibus. Pellentesque ex nunc, dignissim in
    volutpat vel, pellentesque sit amet mauris. Pellentesque porta in velit sed
    semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae; Cras consequat odio a placerat dictum. Cras lacinia
    viverra tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nullam auctor, urna sed laoreet finibus, sem sem fringilla libero, sit amet
    commodo dui nibh non lectus. Fusce et mattis neque. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi
    egestas venenatis eros. Quisque congue aliquet vehicula. Vestibulum tempor
    ante at ipsum varius, quis aliquet magna porttitor. Aliquam erat volutpat.
    Maecenas vitae lorem non nulla fringilla consectetur. Suspendisse potenti.
    Praesent lobortis vel nisi sed blandit. Vestibulum accumsan mattis pharetra.
    Phasellus neque odio, semper nec pretium ac, pretium ac lectus. Morbi quis
    porta dui. Nam elementum mattis lectus, et condimentum risus feugiat vel.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Duis blandit, arcu eu tincidunt auctor, sem odio cursus
    odio, vitae euismod arcu orci ac sem. Curabitur ut nulla interdum, aliquet
    ante sed, pellentesque dui. Vestibulum porttitor ex quis urna pretium
    cursus. Fusce et vehicula lorem, at tempus eros. Sed vitae dolor ullamcorper
    risus eleifend faucibus vitae ut tellus. Aliquam aliquam ligula ligula, a
    tristique enim condimentum eu. In venenatis fringilla ex tincidunt
    ullamcorper. Vivamus condimentum, diam vitae porttitor tempor, massa purus
    consectetur neque, et bibendum arcu massa et ligula. Donec eget lectus
    ipsum. Vivamus at commodo metus, dictum egestas augue. Pellentesque in nulla
    sed nunc egestas sagittis. Sed volutpat, ipsum a congue dictum, tortor arcu
    gravida metus, ac mattis nibh ligula quis odio. Phasellus vestibulum cursus
    ligula, eget fringilla augue egestas non. Suspendisse massa neque,
    consectetur ac elementum in, pharetra nec leo. Phasellus ut felis ex.
  </div>
</div>
