.background-gradient {
  //a gradient from black to blue, top to bottom
  background: linear-gradient(to bottom, #000000, #173572);
}

.fade-out {
  opacity: 0;
  scale: 0.9;
  transition: all 0.5s ease-in-out;
}

//fade up animation
.fade-up {
  opacity: 0;
  transform: translateY(10rem);
  transition: all 0.5s ease-in-out;
}

//infinetly move down and up animation
.move-down {
  animation: move-down 2s infinite;
}
