<div class="background-gradient h-screen overflow-hidden text-white">
  <div
    class="flex flex-col justify-around items-center min-h-screen transition-all duration-300 lg:pt-20 lg:m-20"
    [ngStyle]="{ scale: logoScale, opacity: logoOpacity }"
    *ngIf="mouseAnim | async as anim"
  >
    <callisto-logo
      [scale]="2.4"
      [colors]="{
        planetTop: coloreWheelGradient(anim),
        callisto: 'white',
        ringCenter: 'white',
        ringLeft: 'white',
        ringRight: 'white',
        webAndGraphic: 'white'
      }"
    ></callisto-logo>
    <div
      class="flex flex-col justify-end relative"
      [ngStyle]="{ opacity: mouseOpacity }"
    >
      <callisto-mouse-arrow></callisto-mouse-arrow>
    </div>
  </div>

  <div
    #content
    class="absolute top-0 bg-black/40 p-20 h-screen w-screen overflow-y-scroll transition-all duration-1000"
    [ngClass]="{
      'pointer-events-none ': logoOpacity > _transformDeltas.logoOpacity.min
    }"
    [ngStyle]="{
      opacity: 1 - mouseOpacity
    }"
  >
    <callisto-nav></callisto-nav>
  </div>
</div>
